.header {
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 12px 0px;
    background-color: var(--backgroundMain)
}

.logo{
    text-align: center;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.search-input{
    width: 400px;
    border: none;
    border-radius: 30px;
    height: 36px;
    padding: 20px 0rem 20px 20px;
    font-size: 1rem;
}

.search-input:focus{
    outline: none;

}

.search-btn{
    margin-left: 0.5rem;
    border: 0px;
    background-color: var(--orange);
    padding: 8px 10px;
    border-radius: 100%;
}

.search-btn:hover{
    cursor: pointer;
}

.pajamas--search-sm {
    display: inline-block;
    width: 22px;
    height: 22px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M8.5 5.5a3 3 0 1 1-6 0a3 3 0 0 1 6 0m-.393 3.668a4.5 4.5 0 1 1 1.06-1.06l2.613 2.612a.75.75 0 1 1-1.06 1.06z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: var(--backgroundMain);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  @media only screen and (max-width: 600px) {
    
    .search-input{
        width: 200px;
    }
  }